.adminnoticias.row.row-counter{
	width: 100%;
	padding: 1em 1em;
	background-color: #fff;
	margin-bottom: 2em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.adminnoticias.row.row-counter img{
	width:100%;
}