div.admin, div.aligncenter{
	text-align: center;
}

div.admin > div{
	text-align: center;
}

div.admin a{
	color: #fff;
}

div.admin a:hover{
	color: #404040;
}

div.admin a.margintop2em{
	margin-top: 2em;
	display: inline-block;
	line-height: 24px;
}

div.admineventos a, div.admineventos button{
	color: #fff;
	text-align: center;
}

div.admineventos a:hover, div.admineventos button:hover{
	color: #404040;
}

div.admineventos button.delete{
	line-height: 24px;
}

div.admineventos a.delete, div.admineventos button.delete{
	background-color: #ff6969;
	background-image: linear-gradient(to bottom, #ff6969, #ee5555);
	border: 1px solid #ee5555;
}

div.admineventos a.delete:hover, div.admineventos button.delete:hover{
	background-color: #ee5555;
	background-image: none;
}

div.adminnoticias a, div.admineventos button{
	color: #fff;
	text-align: center;
}

div.adminnoticias a:hover, div.admineventos button:hover{
	color: #404040;
}

div.adminnoticias button.delete{
	line-height: 24px;
}

div.adminnoticias a.delete, div.admineventos button.delete{
	background-color: #ff6969;
	background-image: linear-gradient(to bottom, #ff6969, #ee5555);
	border: 1px solid #ee5555;
}

div.adminnoticias a.delete:hover, div.admineventos button.delete:hover{
	background-color: #ee5555;
	background-image: none;
}


