@import '../functions';
@import '../variables-globales';
.border-left{
	border-left: solid 3px;
}

header#header.carreras {
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
}

header#header .nav>li {
    padding: 0px;
}

nav#navigation_affix .nav>li>a {
    padding: 0px;
}

nav#navigation_affix .nav {
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/*
header#header.carreras.industrial {
	background-image: url("../images/content/carreras/collage-industrial.jpg");
}

header#header.carreras.sistemas {
	background-image: url("../images/content/carreras/collage-sistemas.jpg");
}

header#header.carreras.informatica {
	background-image: url("../images/content/carreras/collage-informatica.jpg");
}

header#header.carreras.electronica {
	background-image: url("../images/content/carreras/collage-electronica.jpg");
}
*/

header#header.carreras .header-content{
	padding: 70px 0 110px;
}

header#header.carreras .header-content .header-text{
	padding: 140px 0 140px;
}

header#header.carreras nav.navbar{
	position:absolute;
	width: 100%;
	background-color: transparent;
}

header#header.carreras div.header-content div.container img{
	width: 100%;
}

header#header.carreras h3 {
    float:right;
    overflow:hidden;
    font-size: 2em;
    font-style: normal;
    font-weight: 300;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

div#estudio.carreras div.container img, div#malla.carreras div.container img{
	width: 100%;
	margin-bottom: 60px;
}

div#perfil.carreras div.container div.row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 3em;
  color: $celeste;

  h3{
    font-weight: bold;
    color: $celeste;
  }
}

div#perfil.carreras div.container div.row p{
	margin-bottom: 0px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

div#perfil.carreras div.container div.row img{
	width: 100%;
}

div#contacto.carreras{
	background-color: #E6E6E6;
	padding-bottom: 4em;
}

div#gtmi div.container div.row.middle{
	margin-bottom: 3em;
}

div#contacto.carreras h2, div#contacto.carreras label, div#contacto.carreras a{
	color: #000;
}

div#contacto.carreras i.fa{
	position: relative;
	margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
    font-size: 100%;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: auto;
	color: #000;
}

div#contacto.carreras i.fa:first-child{
	margin-top: 0px;
}

div#contacto.carreras i.fa:before{
	border-radius: 100%;
    border: solid 2px rgba(0, 0, 0, 1);
    display: inline-block;
    font-size: 0.8em;
    height: 2.5em;
    left: 0;
    line-height: 2.35em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
    color: #000;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
}
header#header.carreras .socials a:hover { background-color:#404040; }

@media (max-width: 767px){
	header#header.carreras .header-content{
		padding: 0;
	}

	header#header.carreras .header-content .header-text{
		padding: 20px 0 20px;
	}

	header#header.carreras .header-content .header-heading-title{
		margin-bottom: 0px;
	}

	header#header.carreras .header-content .header-text{
		padding-bottom: 0px;
		margin: 3em 0 3em 0;
	}
}

@media (min-width: 767px){
	header#header.carreras .header-content{
		margin-left: 0px;
		width: 100%;
	}

	header#header.carreras .header-content div.container{
		margin-left: 0px;
		width: 100%;
	}

	header#header.carreras .header-content div.container{
		margin-left: 0px;
		width: 100%;
	}

	header#header.carreras .header-content div.container div.row div{
		margin-left: 4%;
	}

	header#header.carreras  div.relative{
		position: absolute;
		height: 100%;
		margin-bottom: 110px;
		@include linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	}
}
