.padding-bottom-30{
	padding-bottom: 30px;
}

div#foo2 div.new > div{
	background-color: #fff;
	margin: 10px;
	height: 100%;
}

div.new div.event-date{
	display: table; position: relative; line-height: 1;
}

div.new div.event-date > span:first-child{
	color: #3372b8; font-size: 6.6em; font-weight: bold; display: inline-block; overflow: hidden; vertical-align: top; font-family:Arial, sans-serif;
}

.image_carousel div#foo2 div.new div.social a{
	float: left;
    width: 1.65em;
    height: 1.65em;
    font-size: 18px;
    line-height: 1.7em;
    text-align: center;
    margin: 0px 0 5px 7px;
    color: #fff;
    background-color: rgba(51,114,184,0.3);
    border-radius: 50%;
}

.image_carousel div#foo2 div.new div.social a:hover{
    color: #FFF;
    background-color: rgba(51,114,184,1);
}


div.new div.event-date > span:nth-child(2){
	height: .74em; color: #3372b8; font-size: 6.6em; font-weight: bold; display: inline-block; overflow: hidden; vertical-align: top; font-family:Arial, sans-serif;
}
div.new div.event-date > span:nth-child(3){
	color: #bf4d28; font-size: 1.6em; text-transform: uppercase; text-align: center; width: 2.3em; position: absolute; right: 0; bottom: .13em; font-family:Arial, sans-serif;
}

.event-time {
    margin-top: 0.5em;
    color: #3372b8;
    font-size: 1.25em;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0 0 0.7em 0;
    text-align: left;
    font-family: Arial,sans-serif;
}

.event-time .time-day {
    display: block;
    font-size: 0.9em;
}

.event-time .time-hour {
    font-size: 1.2em;
}
.eventos.row.row-counter{
	width: 100%;
	padding: 1em 1em;
	background-color: #fff;
	margin-bottom: 2em;
}

.eventos.row.row-counter > div.nowidth{
	width: auto;
}

.eventos.row.row-counter > div.nowidth:nth-child(2){
	margin-left: 10px;
}

.eventos.row.row-counter > div .event-time{
	padding: 1.5em 0 0.7em 0;
	margin-top: 0px;
}

.eventos.row.row-counter > div.h3{
	display: table;
	margin-top: 0px;
	margin-bottom: 0px;
	height:99px;
}

.eventos.row.row-counter > div.col-xs-12.padding-top{
	padding-top: 30px;
}

.eventos.row.row-counter > div.h3 h3{
	font-size: 1.3em; line-height: 1.45; color: #3372b8;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: table-cell;
	vertical-align:middle;
}

.eventos.row.row-counter h4{
	color: #3372b8;
}

#footer.evento{
    background-color: #3372b8;
    padding: 2em 0;

}
#footer.evento .container .row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	}

#footer.evento .container img{
	width: 100%;
}

#footer.evento .container .socials {
    margin-left: auto;
}

#footer.evento .container .socials a {
    float: left;
    width: 2.5em;
    height: 2.5em;
    font-size: 20px;
    line-height: 2.5em;
    text-align: center;
    margin: 0 0 0 1em;
    color: #fff;
    background-color: rgba(51,114,184,.3);
    border-radius: 50%;
}

#footer.evento .container .address{
    text-align: left;
}

#footer.evento .container i, #footer.evento .container i a {
    color: #fff;
}
#footer.evento .container .socials a:hover { background-color:#404040; }

@media (max-width: 767px){
	#footer.evento .container .socials a {
	    margin-top: 1em;
	}
}

@media (min-width: 767px){
	.eventos > div.h3{
		/* Firefox */
		width: -moz-calc(100% - #{270px});
		/* WebKit */
		width: -webkit-calc(100% - #{270px});
		/* Opera */
		width: -o-calc(100% - #{270px});
		/* Standard */
		width: calc(100% - #{270px});
		margin-left: 30px;
	}
}
