@import '../functions';
@import '../variables-globales';
//page home

div#vision.home, body.home #pricing{
  height: 35.1vw;
  background-image: url(../images/content/landing/imagen-inferior.jpg);
  background-position: center;
}

div#vision.home{
	padding-top: 80px;
}


header#header.home {
	position:relative;
	background: transparent;
}

header#header.home .header-content{
	padding: 50px 0 90px;
}

header#header.home .header-content .header-logo{
	padding: 20px 0 260px;
  width: 60%;
}

header#header.home .header-content .header-text {
  position: absolute;
  right: 0px;
  width: 50vw;
  bottom: 20%;
  height: 20vw;
  background-color:rgba(255, 255, 255, 0.8);
  text-align: right;
  color: #0971C1;

  h2{
    margin-top: 1.2vw;
    color: $celeste;
    font-weight: bold;
    font-size: 4.3vw;
    line-height: 5vw;
    margin-right: 1vw;
  }

  p{
    margin-top: 3vw;
    margin-top: 2vw;
    font-size: 4.1vw;
    font-weight: bold;
    line-height: 5vw;
    color: $celeste;
    margin-right: 1vw;
  }
}

header#header.home nav.navbar{
	position:absolute;
	width: 100%;
	background-color: transparent;
}

header#header.home div.header-content div.container img{
	width: 100%;
}

header#header.home .socials {
    float:right;
    overflow:hidden;
}

header#header.home .socials a {
    float:left;
    width:52px;
    height:52px;
    color:#FFF;
    font-size:18px;
    line-height:52px;
    text-align:center;
    background-color: rgba(212,219,222,0.3);
    margin:7px 0px 7px 14px;
    border-radius:50%;
}
header#header.home .socials a:hover { background-color:#404040; }

div#features.home div.container img{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 60px;
}

div#features.home div.container{
	width: 95%;
}

div#vision.home div.container div.middle p{
	text-align: justify;
}

div#vision.home div.container div.middle .post-heading-left h2 strong { color:#2279B3; }

div#vision.home div.container div.middle div.relative{
	position: relative;
	margin-bottom: 70px;
}

div#vision.home div.container div.middle p{
	color: #000;
}

div#vision.home div.container div.middle div.relative figure{
	width: 70%;
}

div#vision.home div.container div.middle div.relative figure:nth-child(2n){
	position: absolute;
    top: 30%;
    right: 5%;
}

div#bottom{
	background: $celeste;
}

div#bottom.home div.ancho{
	width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

div#bottom.home div.ancho div.row{
	text-align: left;
  position: relative;
}

div#bottom.home div.ancho div.row form label{
	color: white;
  padding-top: 0px;
  height: 2vw;
  line-height: 2vw;
}

div#bottom.home div.ancho div.row form input{
	height: 2vw;
}

div#bottom.home form.all-height{
  display: flex;
}

div#bottom.home form.all-height .align-stretch{
  align-items: stretch;
}

div#bottom.home form.all-height .col-sm-3 .form-group:last-child{
  margin-bottom: 0px;
}


div#bottom.home form.all-height .align-stretch.icons1{
  position: relative;
  padding-left: 0.2vw;

  > div.col-sm-1{
    position:absolute;
    bottom: 0px;
    width: 3.5vw;
  }

  .col-sm-1 img{
    width: 100%;
    padding-right: 5px;
  }

  .logo{
    width: 10%;
    margin-left: 2vw;
    img{
      width: 100%;
    }
  }

  .text-logo{
    width: 80%;

    p{
      color: white;
      margin-bottom: 0px;
      line-height: 2.2vw;
      font-size: 1vw;
      margin-left: 4px;
    }
  }

  .row{
    display: flex;
  }
}

div#bottom.home form.all-height .align-stretch.icons2{
  top: 0px;
    bottom: 0px;
    margin-bottom: auto;
    margin-top: auto;
  >div{
    display: table-cell;
    vertical-align: middle;
  }
  img{
    width: 100%;
  }
}

div#bottom.home div.ancho div.row ul{
	list-style-type: none;
	padding-left: 0px;
}

div#bottom.home div.ancho div.row h5{
	color: #fff;
  margin-left: 1vw;
}

div#bottom.home div.ancho div.row ul li{
	color: #000;
}

div#bottom.home div.ancho div.row ul li a{
	color: #000;
}

div#bottom.home div.ancho div.row a{
	color: #000;
}

div#bottom.home div.ancho div.row div.direccion{
	color: #000;
}


body.home h2{
	font-family:Raleway, Helvetica, sans-serif;
	letter-spacing:2.4px;
  text-transform:uppercase;
  color: $celeste;
  font-weight: bold;
}

div#features2 div.container, div#features3 div.container{
	width:100%;
}
.image_carousel {
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

.image_carousel div#foo1 div.new, .image_carousel div#foo2 div.new{
   float: left;
   display: block;
   overflow: hidden;
   margin-left: 1px;
   width: 500px;
   text-align: center;
   height: 100%;
   >div.row.row-counter{
     position:relative; width:90%; margin-left:5%; margin-right:5%;
     >div:first-child{
       position:absolute;
       width: auto;
       height: 30px;
       padding-left: 5px;
       background-color: $celeste;
       color: white;
       text-transform: uppercase;
       font-size: 28px;
       font-weight: bold;
       text-align: left;
       line-height: 30px;
       z-index: 2;
       p{
         margin-right: 10px;
         margin-bottom: 0px;
       }
     }
   }
}

.image_carousel div#foo1 div.new > div{
  position:relative; width:90%; margin-left:5%; margin-right:5%;
  >div:first-child{
    position:absolute;
    width: auto;
    height: 30px;
    padding-left: 5px;
    background-color: $celeste;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    z-index: 2;
    p{
      margin-right: 10px;
      margin-bottom: 0px;
    }
  }
}
.image_carousel div#foo2{
  overflow: visible;
}
.image_carousel div#foo2 div.new{
    width: 500px;
    position: relative;
    overflow: visible;
   .all-height{
     height: 100%;
     color: white;
     margin-bottom: 0px;
     img{
       width: 100%;
     }
     >.row{
       overflow: hidden;
     }
   }

   .celeste{
     background-color: $celeste;
     p{
       margin-left: 10px;
       margin-right: 5px;
       margin-top: 30px;
       text-align: left;
       line-height: 20px;
     }
   }

   >div:last-child{
     position: absolute;
     width: 130px;
     height: 90px;
     bottom: -22px;
     right: 13px;
     background-color: $celeste;
     margin: 0px;
     z-index: 3;
   }

   .fecha{
     color: white;
     display: flex;
     flex-wrap: wrap;
     h1{
       color: white;
       font-size: 60px;
       font-weight: bold;
       margin-bottom: 0px;
     }
     div{
       display: block;
     }
     .dia{
       text-align: right;
     }
     .de{
       text-align: left;
       align-items: stretch;
       position: relative;
       p{
         margin-bottom: 0px;
         position: absolute;
         bottom: -4px;
         left: 4px;
         font-weight: bold;
       }
     }
     .mes{
       font-weight: bold;
       font-size: 18px;
       text-align: right;
       margin-right: 19px;
     }
   }

}

.image_carousel div#foo1 div.new div a{
   color: #2279b3;
   font-size: 18px;
   line-height: 24px;
}

.image_carousel div#foo1 div.new div h5{
   margin-top: 20px;
}


div#foo1 img {
   width: 100%; margin-left: 0px; margin-right: 0px;
}

.image_carousel #slides {
   background: #fcfcfc;
}

a.prev, a.next {
    background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
    -webkit-transition: none;
    transition: none;
}

a.prev {
	left: -22px;
    background-position: 0 0;
}

a.prev:hover {
	background-position: 0 -50px;
}

a.prev.disabled {
	background-position: 0 -100px !important;
}
a.next {
	right: -22px;
	background-position: -50px 0; }
a.next:hover {
	background-position: -50px -50px;
}
a.next.disabled {
	background-position: -50px -100px !important;
}
a.prev.disabled, a.next.disabled {
    cursor: default;
}
a.prev span, a.next span {
    display: none;
}
.pagination {
    text-align: center;
    width: 100%;
}
.pagination a {
    background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
    -webkit-transition: none;
    transition: none;
}
.pagination a.selected {
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

#programas-especializacion .row.row-counter{
  display: flex;
  border-top: solid 4px $celeste-claro;
  border-bottom: solid 4px $celeste-claro;

  > .col-sm-3.col-xs-3{
    background-image: url("../images/content/landing/programas.jpg");
    align-items: stretch;
    background-position: center;
    background-size: cover;
  }

  > #contenido{
    background-color: $celeste;
    color: white;
    padding-top: 10px;
  }

  #contenido > .row > div{
    margin-left: 2%;
    margin-bottom: 20px;

    h2 {
      color: white;
      font-weight: bold;
    }

    .row {
      margin-bottom: 20px;
      h1{
        color: white;
        border-left: solid 7px white;
        font-weight: bold;
        margin-bottom: 0px;
      }
      .col-sm-11{
        display: flex;

        p.caja{
          background-color: #fff;
          width: 100%;
          color: $celeste;
          font-size: 2vw;
          align-items: stretch;
          margin-bottom: 0px;
          line-height: 3.9vw;
        }
      }
    }

    .row:last-child{
      margin-bottom: 0px;
    }
  }
}

#grupos-de-investigacion{
  border-top: solid 4px $celeste-claro;
  #grupos{
    background-color: $celeste;
    height: 18vw;
    padding-left:12.5vw;
    padding-right:12.5vw;
    display: flex;
    padding-top: 1vw;
    .grupo{
        width: 20%;
        height: 100%;
        text-align: center;

        img{
          width: 80%;
        }

        h3{
          color: white;
          font-size: 2vw;
          margin-bottom: 0px;
        }
    }
  }
  #titulo {
    background-color: $celeste;
    width: 50vw;
    height: 4vw;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    display: flex;
    justify-content: space-between;
    h2 {
      color: white;
      font-weight: normal;
      text-align: center;
      font-size: 2.5vw;
      line-height: 4vw;
    }
  }

  #titulo::before{
    content: '';
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 4vw solid $celeste;
    border-left: 4vw solid #ffffff;
  }

  #titulo::after{
    content: '';
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 4vw solid $celeste;
    border-right: 4vw solid #ffffff;
  }

  #alumnos{
    margin-top: 4vw;
    margin-bottom: 4vw;
    h3{
      color: $celeste;
    }

    img{
      width: 100%
    }

    .row .row.row-counter .alineado-especial{
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;
    }
  }
}


@media (max-width: 767px){
	header#header.home .header-content{
		padding: 0;
	}

	header#header.home .header-content .header-logo{
		padding: 20px 0 20px;
	}

	header#header.home .header-content .header-heading-title{
		margin-bottom: 0px;
	}

	header#header.home .header-content .header-logo{
		padding-bottom: 0px;
		margin: 3em 0 3em 0;
	}

	header#header.home .socials a {
	    margin:7px 0px 14px 14px;
	}

  div#bottom.home div.ancho div.row form input {
    height: 3.5vw;
  }

}

@media (min-width: 767px){
	header#header.home .header-content{
		margin-left: 0px;
		width: 100%;
	}

	header#header.home .header-content div.container{
		margin-left: 0px;
		width: 100%;
	}

	header#header.home .header-content div.container{
		margin-left: 0px;
		width: 100%;
	}

	header#header.home .header-content div.container div.row div{
		margin-left: 4%;
	}

	header#header.home  div.relative{
		position: absolute;
		height: 100%;
		margin-bottom: 110px;
		@include linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	}

	div#vision.home div.container div.middle{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
}
